/*sad*/

#main-container{
    background: #F0F0F0;
}

#index{
    width: 100%;
    position: relative;

}

#index-container{
    position: relative;
    width: 100%;
    height: 175px;
    top: 0px;
    left: 0px;
    z-index: 0;
}


#banner-index{
    width: 100%;
    height: 150px;
    background: #E7E7E7;
}

#banner-index img{
    width: 100%;
    height: 215px;
    background: #E7E7E7;
}

#page-container{

    z-index: 1;
    top: -22px;
    padding: 0px 30px;
    height: 100%;
    position: relative;
}
#page-content{
    background: #fff;
    min-height: 400px;
    margin-bottom: -60px;
}
#index-content{
    padding: 25px;
}

#title-container{
    margin: 0px;
    background: none repeat scroll 0% 0% #2d4255;
    color: #FFF;
    border-top: 10px solid #FFF;
    padding: 7px 5px 7px 35px;
    height: 63px;
}

.icon-title,
.title-page{
    float: left;
}


#content-category{
    padding: 30px 70px 30px 70px;
    margin-bottom: -60px;
}
#content-category h2{
    margin-bottom: 35px;
}

/*------------------*/

.list-actors{
    margin: 0px;
    padding: 0px;
}
.list-actors li{
    list-style: none;
}

.logo-actors{
    float: left;
    height: 220px;
    display: table;
}
.logo-actors-container{
    display: table-cell;
    vertical-align: middle;
}
.logo-actors img{
    width: 210px;
    height: 75px;
}
.content-list-actors{
    float: left;
    width: 575px;
    height: 160px;
    margin-left: 15px;
    display: table;
}
.content-list-container{
    display: table-cell;
    vertical-align: middle;
}

.content-list-actors h3{
    margin-top: 0px;
}
/*---------------------------*/
.clear{
    clear: both;
}

#content-page{
    padding: 30px 30px 30px 30px;
}

.sidebar{
    width: 250px;
    float: left
}

.content-page-actors{
    width: 620px;
    float: left;
    margin-left: 30px;
}

.sidebar-page-actors{
    background: #ececec;
    padding: 30px 15px 15px 15px;
}
.content-page-actors p{
    margin-top: 0px;
}

.sidebar-page-actors li{
    padding-bottom: 15px
}
.sidebar-page-actors li a{
    color: #3E3E3E !important;
    text-decoration: none;
    font-weight: bold;
}

.sidebar-page-actors li a:hover{
    color:#0F79A0 !important;
    text-decoration: underline;
}


.footer{
 margin-top: 40px !important;
}

/*-----------------*/

/*-------------------*/
.background-claro{
    background-color: #46789d !important;
}

/*----------CONTACTENOS-----------*/
.title-page h1{
    font-size: 24px;
    margin-left: 30px;
}


.col-2 {
    float: left;
    width: 390px;
    padding: 30px;
}

.dirrecion{
    margin-top: 50px !important;
    margin-bottom: 30px;
}

.telefono-web{
    margin: 0px 0 30px 0 !important;
}

.telefono-web h2{

}

.divisor{
    border-right: 2px solid #b0b0b0;
}

.dirrecion-ul{
    margin: 0px;
    padding: 0px;
}

.dirrecion-ul li{
    margin: 0px;
    padding: 0px;
    list-style: none;
}


.formulario-contacto{
    padding-left: 30px;
}

.logo-contactenos{
    text-align: center;
    margin-top: 50px;
}

form a{
    display: none;
}
input{
    padding: 10px;
    box-shadow: inset 0px 3px 10px #D6D6D6;
}

/*ICONOS*/

.icono-contactenos{
    width: 44px !important;
}

.icono-descargas,
.icon-title img{
    width: 54px;
}


/*--------------------*/
.pagenavi {
    margin: 0 0 20px 30px;
    padding: 5px 1px 5px;
    float:left;
    width: 98%;
}
.pagenavi a {
    padding: 5px 6px 4px 6px;
    margin: 3px;
    text-decoration: none;
    border: 1px solid #ccc;
    color: #666;
    background-color: inherit;
}
.pagenavi a:hover {
    border: 1px solid #444;
    color: #444;
    background-color: #eee;
}
.pagenavi span.pages {
    padding: 5px 6px 4px 6px;
    margin: 3px;
    color: #825a2d;
    font-weight:bold;
    border: 1px solid #999;
    background-color: inherit;
}
.pagenavi span.current {
    padding: 5px 6px 4px 6px;
    margin: 3px;
    font-weight:bold;
    border: 1px solid #666;
    color: #444;
    background-color: #eee;
}
.pagenavi span.expand {
    padding: 5px 6px 4px 6px;
    margin: 3px;
    border: 1px solid #ccc;
    color: #444;
    background-color: inherit;
}
.pagenavi .first, .pagenavi .last {
    border: 1px solid #aaa;
}
.pagenavi .single_page {
    border: 1px dashed #ccc;
}

