/*
Theme Name: ICT
Theme URI: galileo.edu
Author: GESTEAM
Version: 1
*/
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}


a{
    color: #17466B ;
}

a:hover{
    color: #17466B;
    text-decoration: underline;
}

h1{
    font-size: 24px;
}

ul{
    margin: 0px;
    padding-top: 10px;
}

.blue{
    background-color: #10799f;
    color: #fff;
}

.blue a:hover{
    background: #0d6787;
    color: #fff;
}

.blue-dark{
    background-color: #2c4254;
    color: #fff;
}
.blue-dark a:hover{
    background-color: #263948;
    color: #fff;
}

.purpe{
    background-color: #2a184e;
    color: #fff;
}
.purpe a:hover{
    background-color: #1c1034;
    color: #fff;
}


#main-container{
    width: 1024px;
    margin: auto;
    box-shadow: 0px 0px 20px 3px #D3D3D3;
}
#header{
    background:#101920;
    color: #fff;
    padding-left: 30px;
}
#header div{
    display: inline-block;

}

#logo{
    position: absolute;
    width: 140px;
    height: 100px;
    background: #fff;
    border: 1px solid #666;
    z-index: 1;
    color:#000;
}

#logo img{
    width: 140px;
    height: 100px;
}
#main-menu{
    padding: 10px 10px 0px 10px;
}
#main-menu ul{
    padding-left: 0px;
    margin: 10px 0 10px 0
}
#main-menu li{
    float: left;
    list-style: none;
    margin: 5.5px;
    margin-top: -8px;
}
#main-menu li a{
    color: #ffffff;
    text-decoration: none   ;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}
#main-menu li a:hover{
    color: #00A8E5;
    text-decoration: underline;
}


.container-main-menu{
    margin-left: 150px;
}
.idioma,
.idioma ul,
.idioma li{
    width: 73px !important;
}

.idioma a{
    display: block;
    color:#fff;
    padding: 5px;
}

.idioma a:hover{
    color:#fff !important;
    background-color: #303438;
}


/*---------------*/
#home{
    width: 100%;
    position: relative;
    height: 600px;
}
#home-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}
#banner-home{
    width: 100%;
    height: 85%;
    background: #E7E7E7;
}
#banner-home img{
    width: 100%;
    height: 100%;
}
#menu-banner{
    position: absolute;
    bottom: 0px;
}
#menu-banner ul{
    margin: 0px;
    padding: 0px;
    margin-left:30px ;
}
#menu-banner li{
    float: left;
    list-style: none;
    height: 300px;
    margin: 1px;
    width: 320.5px;
}
#menu-banner a{
    display: table !important;
    height: 300px;
    margin: 0px;
    text-decoration: none;
    color: #fff;
    padding: 0 30px 0 30px;

}
#menu-banner div{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#menu-banner a h2  {
    text-align: center;
    margin: 0px;
}

.icon-home{
    width: 320px;
    margin: auto;

}
.icon-home img{
    border: none;
}
/*------------------------*/

#welcome{
    padding: 30px;
    background-color: #fff;
}
.text-welcome{
    margin-left: 35px;
    margin-right:35px ;
}

.convocatoria{
    width: 252px;
    height: 360px;
    float: left;
    margin: 15px;
}
#convocatorias-container,
#noticias-container{
    padding: 0px 59px 0 59px
}

.header-convocatoria{
    display: table;
    height: 100px;
}
.fecha-convocatoria {
    display: inline-block;
    background: #FFF;
    padding: 5px;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    float: left;
}
.dia{
    text-align: center;
    font-size: 25px;
    color: #008AFB;
    font-weight: bold;
}
.mes{
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
.titulo-convocatoria{
    display: table;
    float: left;
    margin-left: 10px;
}
.titulo-convocatoria div{
    display: table;
}
.titulo-convocatoria div h2{
    margin: 0px;
    vertical-align: middle;
    display: table-cell;
}
.content-convocatoria{
    clear: both;
    padding-top:20px;
}
.ver-mas{
    float: right;
    text-decoration: none;
    font-weight: bold;
    color: #17466B;
    margin-top: 100px;

}

.slick-prev, .slick-next {
    display: inline-block;
    position: absolute;
    top: 35%;
    background: none repeat scroll 0% 0% #E7E7E7;
    border: medium none;
    font-size: 70px;
    cursor: pointer;
}
.slick-prev{
    left: 0px;
}
.slick-prev:after {
    color:#3F3C3D !important;
    font-family: 'FontAwesome';
    content: "\f104";

}
.slick-next {
    right: 0px;
    font-family: 'FontAwesome';
}
.slick-next:after{
    font-family: 'FontAwesome';
    content: "\f105";
}
#mas-noticias {
    background: #D9D9D9;
    border-top: 3px solid #A4A4A4;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    clear: both;
}
#mas-noticias a{
    color:#3F3C3D;
    text-decoration: none;
}
#mas-noticias a:hover{
    color: #008AFB;
}


.footer{
    clear: both;
    background-color: #101920;
    color: #ffffff;
    margin: 0px;
    padding: 30px;
    padding-bottom: 45px;
    overflow: hidden;
}

.footer div{
    float: left;
    width: 190px;
    vertical-align: top;
}

.footer div ul{
    margin: 0px;
    padding: 0px;
}

.footer div ul li{
    margin-bottom: 30px;
    list-style: none;
}
.footer div ul li a{
    color: #fff;
    text-transform: uppercase;
}
.footer div ul li a:hover{
    color: #00A8E5;;
}
.footer div ul .sub-list-fater{
    margin-bottom: 10px;
    list-style: none;
    text-transform: uppercase;
}
.sub-list li{
    margin: 0px 0px 0px 20px !important;
    list-style: square !important;
}


.footer-list-final{
    margin-bottom: 0px !important;
}


.copy{
    clear: both;
    background-color: #DEDEDE;
    text-align: center;
    font-weight: bold;
    padding: 15px;
}

.post-content{
    height: 150px;
}


#lang_choice_1{
    background:#4C4C4C !important;
    border: none;
    color: #fff;
    width: 73px !important;
}

.icono-convocatorias{
    height: 60px;
}
.icono-noticias{
    height: 60px;
}
.icono-boletin{
    /* padding-top: 10px;*/
}
.icono-enlaces{
    padding-top: 5px;
}

.ver-mas-category{
    float: right;
    text-decoration: none;
    font-weight: bold;
    color: #17466B;
    margin-right: 25px;
}

.list-post-categor{
    margin-bottom: 50px;
}
.navigation{
    display: block;
    text-align: center;
    padding: 25px;
}
/**/
.page-not-found{
    padding: 15px;
}


.index-conatainer{
    padding: 70px;
    margin-bottom: 15px;
}

.list-post-category{
    clear: both;
    margin-bottom: 10px;
}
